.info {
  .info__inner {
    width: 90%;
    margin: rem(15) auto 0;
    @include mq(sp) {
      width: 95%;
    }
  }
  .info__items {
    display: flex;
    font-size: rem(18);
    margin-top: rem(5);
    &:last-child {
      @include mq(sp) {
        flex-direction: column;
      }
    }
    @include mq(sp) {
      margin-top: rem(20);
    }
  }
  .info__item {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    &:nth-of-type(-n+3) {
      @include mq(sp) {
        width: 30%;
      }
    }
  }
}