.card {
  .card__inner {
    display: flex;
    padding: 0 rem(30);
    margin: 0 auto;
    background: $sub-background;
    width: fit-content;
    border-radius: rem(8);
    box-shadow: 5px 5px 10px -8px #777;
    @include mq(sp) {
      flex-direction: column;
    }
  }
  .card__lists {
    display: flex;
    align-items: center;
  }
  .card__lists--column {
    @include mq(sp) {
      align-items: unset;
      flex-direction: column;
    }
  }
  .card__lists-item {
    color: $text-color;
    padding: 0 rem(20);
    &:hover {
      color: $sub-color;
      opacity: $opacity;
      .card__lists-item i {
        color: $sub-color;
      }
    }
    i {
      font-size: rem(25);
      @include mq(sp) {
        font-size: rem(22);
      }
    }
  }
  .card__list {
    display: inline-block;
    font-size: rem(18);
    font-weight: 700;
    letter-spacing: rem(2);
    padding: rem(10) 0 rem(10) rem(10);
    @include mq(sp) {
      font-size: rem(16);
    }
  }
}