.news_block {
  max-width: 800px;
  width: 100%;
}
.news_archive {
  margin-top: rem(10);
}
.news_lists {
  padding: rem(20) rem(15);
  background: #fff;
  border: 1px solid #999;
  border-radius: rem(8);
}
.news_list {
  font-size: rem(20);
  margin-top: rem(10);
  padding-bottom: rem(10);
  border-bottom: 1px dashed #333;
  &:nth-last-of-type(1) {
    border-bottom: none;
  }
  &:first-child {
    margin-top: 0;
  }
  @include mq(sp) {
    font-size: rem(18);
    align-items: flex-start;
  }
  .inner {
    display: flex;
    time {
      display: block;
    }
  }
  a {
    font-size: rem(16);
    text-align: right;
    display: block;
    // border-top: 2px #498ee0 dotted;
    .blue {
      color: rgb(0, 102, 255);
    }
  }
}
.news_list__date {
  font-size: rem(18);
  margin-right: rem(30);
  padding-top: rem(3);
  @include mq(sp) {
    font-size: rem(16);
    margin-right: rem(30);
  }
}