.news-sns {
  .ns_flex {
    display: flex;
    align-items: flex-end;
    @include mq(sp) {
      flex-direction: column;
    }
  }
  .news_block {
    max-width: 800px;
    width: 100%;
  }
  .news_title {

  }
  .news_archive {
    margin-top: rem(10);
  }
  .news_lists {
    padding: rem(20) rem(15);
    background: #fff;
    border: 1px solid #999;
    border-radius: rem(8);
  }
  .news_list {
    font-size: rem(18);
    margin-top: rem(10);
    &:first-child {
      margin-top: 0;
    }
  }
  .news_list time {
    margin-right: rem(12);
  }

  .sns_block {
    flex: 1;
    margin: inherit;
  }
  .sns_inner {
    display: flex;
    justify-content: flex-end;
  }

  .sns_box i.fa-twitter {
    color: #1DA1F2;
  }
  .sns_box i.fa-facebook {
    color: #1877f2;
  }
}