.schedule {
  .schedule_title {

  }
  .schedule_discription {
    font-size: rem(18);
  }
  .goo-cal {
    padding: rem(30) 0;
  }
  .goo-cal iframe {
    width: 100%;
    max-width: rem(1100);
    height: rem(640);
    padding-left: $padding-pc;
    padding-right: $padding-pc;
    @include mq(sp) {
      height: rem(400);
      padding-left: $padding-sp;
      padding-right: $padding-sp;
    }
  }
}