.top_mv {
  position: relative;
  height: 80vh;
  .top_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    font-size: rem(28);
    width: 100%;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
  .f_bold {
    font-weight: 700;
  }
}