.top_mv {
  position: relative;
  height: 100vh;
  padding-top: rem(100);
  background-image: url(../img/top.jpg);
  background-size: cover;
  background-position: center;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  .top_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-45%) translateX(-50%);
    text-align: center;
    font-size: rem(36);
    line-height: 2.3;
    letter-spacing: rem(2);
    width: 100%;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    @include mq(sp) {
      font-size: rem(20);
      padding-right: $padding-sp;
      padding-left: $padding-sp;
      text-align: left;
    }
  }
  .f_bold {
    font-weight: 700;
  }
}