.nav-btn {
  background: none;
  border: none;
  position: relative;
  padding: rem(8) 0;
  transition: all 0.3s ease;
  span {
    display: block;
    width: rem(30);
    height: rem(2);
    background: $text-color;
    &:first-child {
      position: absolute;
      top: 0;
    }
    &:last-child {
      position: absolute;
      bottom: 0;
    }
  }
}
.is__open {
  span {
    &:first-child {
      transform: rotate(45deg);
      top: rem(8);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child {
      transform: rotate(-45deg);
      bottom: rem(8);
    }
  }
}