.sns_box {
  background: $sub-background;
  border-radius: rem(8);
  margin-right: rem(15);
  border-right: 3px solid #999;
  border-bottom: 2px solid #999;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: all 0.3s ease;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top: 2px solid #999;
    border-left: 3px solid #999;
  }
  @include mq(sp) {
    margin-right: rem(35);
  }
}
.sns_box a {
  display: inline-block;
  padding: rem(15);
  @include mq(sp) {
    padding: rem(10);
  }
}
.sns_box a i {
  font-size: rem(50);
  @include mq(sp) {
    font-size: rem(45);
  }
}