.to_contact {
  text-align: center;
  margin-top: rem(35);
  @include mq(sp) {
    margin-top: rem(25);
  }
}
.contact_btn {
  display: inline-block;
  padding: rem(14) rem(40);
  font-size: rem(20);
  background: $button-color;
  border-radius: rem(8);
  opacity: 1;
  position: relative;
  transition: all 0.3s ease;
  border: 3px solid #777;
  border-top: transparent;
  border-left: transparent;
  color: white;
  font-weight: 700;
  &:hover {
    opacity: $opacity;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    .border_arrow {
      left: -8%;
    }
  }
  @include mq(sp) {
    font-size: rem(18);
  }
  .border_arrow {
    position: absolute;
    top: 40%;
    left: -12%;
    transition: all 0.3s ease;
    @include mq(sp) {}
  }
}