.to_contact {
  text-align: center;
  margin-top: rem(35);
}

.contact_btn {
  display: inline-block;
  padding: rem(14) rem(40);
  font-size: rem(20);
  background: $button-color;
  border-radius: rem(8);
  opacity: $opacity;
  position: relative;
  transition: all 0.3s ease;
  &:hover {
    opacity: 1;
    .border_arrow {
      left: -8%;
    }
  }
  .border_arrow {
    position: absolute;
    top: 40%;
    left: -12%;
    transition: all 0.3s ease;
  }
}