.about-top {
  .about-top__inner {
    margin-top: rem(50);
    padding-bottom: rem(50);
    @include mq(sp) {
      margin-top: rem(-20);
    }
  }
  .about-top__outline {
    font-size: rem(26);
    width: 75%;
    height: rem(300);
    padding: rem(30) rem(25);
    background-image: url(../img/gaiyou.jpg);
    background-size: cover;
    background-color:rgba(255,255,255,0.6);
    background-blend-mode:lighten;
    border-radius: rem(8);
    line-height: 2;
    @include mq(sp) {
      width: 100%;
      font-size: rem(20);
    }
  }
  .about-top__sexual {
    position: absolute;
    right: rem(-50);
    bottom: rem(-30);
    width: 50%;
    font-size: rem(22);
    padding: rem(20);
    background: $sub-background;
    border: 2px solid $sub-color;
    border-radius: 50px;
    @include mq(sp) {
      font-size: rem(16);
      right: 0;
      bottom: rem(-120);
      width: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 30%;
      left: rem(-17);
      width: rem(33);
      height: rem(40);
      background: $sub-background;
      border: 2px solid $sub-color;
      border-bottom: 2px;
      border-right: 2px;
      transform: rotate(-38deg);
      -webkit-transform: rotate(-38deg);
      @include mq(sp) {
        top: -7%;
        left: auto;
        right: rem(40);
        width: rem(25);
        height: rem(25);
        transform: rotate(48deg);
        -webkit-transform: rotate(48deg);
      }
    }
  }
}