.greet {
  .greet__inner {
    display: flex;
    @include mq(sp) {
      margin-top: rem(10);
      flex-direction: column;
    }
  }
  .greet__boss {
    width: 42%;
    height: 0;
    padding-bottom: 50%;
    margin-top: rem(40);
    border-radius: rem(8);
    overflow: hidden;
    position: relative;
    @include mq(sp) {
      margin-top: rem(110);
      width: 100%;
      padding-bottom: 80%;
    }
  }
  .greet__boss-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content__flex {
    width: calc(100% - 40%);
    margin: 0 rem(50);
    @include mq(sp) {
      width: 100%;
      margin: rem(-360) 0 0;
    }
  }
  .greet__discription {
    margin-top: rem(30);
    padding: 0 rem(30);
    @include mq(sp) {
      margin-top: rem(320);
      padding: 0;
    }
  }
  .greet__discription-text {
    font-size: rem(22);
    @include mq(sp) {
      font-size: rem(18);
    }
  }
}